<div class="contents row">
  <div class="col s6 offset-s3">
    <%= form_tag("/tweets/#{@tweet.id}", method: :patch ) do %>
      <h4 class= "center">
        編集する
      </h4>
      title<input placeholder="title" type="text" name="title" value="<%= @tweet.title %>">
      image<input placeholder="Image Url" type="text" name="image" value="<%= @tweet.image %>" autofocus="true">
      text <textarea cols="30" name="text" placeholder="text" rows="10"><%= @tweet.text %></textarea>
      <div class= "center">
        <input type="submit" value="SENT" class="btn">
      </div>
    <% end %>
  </div>
</div>