 <div class="contents row">
    <div class="success">
      <h4 class="center">
        更新が完了しました。
      </h4>
      <div class= center>
        <a class="btn" href="/">投稿一覧へ</a>
        <a class="btn" href="/users/<%= current_user.id %>">マイページへ</a>
      </div>
    </div>
  </div>